:root {
  --bg-root: #020617;
  --bg-panel: #111827;
  --bg-surface: #e5e7eb;

  --text-primary: #f9fafb;
  --text-secondary: #6b7280;

  --accent-primary: #064e3b;

}

:root{
  color: var(--text-primary);
}

/* Backgrounds */
.bg-root {
  background-color: var(--bg-root);
}

.bg-panel {
  background-color: var(--bg-panel);
}

.bg-surface {
  background-color: var(--bg-surface);
}

/* Text */
.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

/* Actions / States */
.accent {
  color: var(--accent-primary);
}

.bg-accent {
  background-color: var(--accent-primary);
}

.border-accent {
  border-color: var(--accent-primary);
}